.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

button {
  height: 30px;
  border: none;
  background: black;
  color: white;
  padding: 5px 16px;
  cursor: pointer;
}
button:active {
  background: rgba(0, 0, 0, 0.5);
}

/* ===== header ===== */
header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
}
/* ===== header ===== */

/* ===== todo form ===== */
.todo-form-area {
  margin-top: 20px;
}

.todo-form {
  display: flex;
  gap: 5px;
}

.todo-input {
  width: 400px;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid black;
}
.todo-input:focus {
  outline: none;
}
/* ===== todo form ===== */

/* ===== todo filters ===== */
.todo-filters-area {
  margin-top: 20px;
}

select {
  width: 100px;
  border: 2px solid black;
  padding: 5px;
}
/* ===== todo filters ===== */

/* ===== todo list ===== */
.todo-list-area {
  margin: 30px 0;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #000;
  padding: 10px;
}
.todo-item:last-child {
  border-bottom: none;
}

.todo-checkbox {
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.todo-info {
  width: 995px;
  line-height: 30px;
}

.todo-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  font-weight: 600;
}

.todo-createdAt {
  color: #00000099;
}
/* ===== todo list ===== */
